:root {
  --basic-white: #FFFFFF;
  --basic-grey-light: #EEEEEE;
  --basic-red: #FB565A;
  --dark-red: #D7373B;
  --basic-ruby: #E74246;
  --basic-green: #00CA74;
  --basic-light-green: #06C775;
  --basic-dark-green: #00AA62;
  --basic-emerald: #00BC6C;
  --basic-yellow: #EFC849;
  --basic-mustard: #EAB534;
  --basic-dark-yellow: #E5A722;
  --basic-grey: #E1E1E1;
  --grey: #a5a5a5;
  --basic-dove: #D5D5D5;
  --basic-grey-middle: #D7DCDE;
  --basic-grey-dark: #4D4D4D;
  --basic-antracit: #283136;
  --basic-black: #000000;
  --basic-brown: #7E2222;
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-width: 1100px;
  margin: 0;
  padding: 0;
  color: var(--basic-antracit);
  background-color: var(--basic-white);
  font-size: 16px;
  line-height: 24px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/

.page {
  height: 100%;
}



.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var--(--basic-black);
  background-color: var(--basic-grey-light);
  text-transform: uppercase;
  font-weight: 500;
  display: grid;
  grid-template-columns: 160px 1fr 115px;
  margin: auto;
  padding: 0px;
  width: 1160px;

}

.main-header {
  margin-bottom: 0px;
  background-color: var(--basic-grey-light);

}


.main-header-logo {
  padding-top: 49px;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:focus {
  opacity: 0.5;
}

.site-navigation-basket {
  padding: 0px;
  list-style: none;
  margin-top: 75px;
  display: grid;
  grid-template-columns: 15px min-content;
  column-gap: 15px;
}



.main-header h1 {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  font-weight: 500;
}


.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  display: flex;
  width: 67px;
  justify-content: space-between;
  margin: auto;

}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.site-navigation {
  list-style: none;
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  column-gap: 45px;
  padding-left: 0px;
  margin-top: 75px;
  margin-left: 202px;

}

.site-navigation a {
  color: var(--basic-black);
}


.site-navigation a::after {
  color: var(--basic-black);
}


.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-red);
}

.site-navigation a:active {
  color: var(--grey);
}

.site-navigation-basket a {
  color: var(--basic-black);
}

.site-navigation-basket a:hover,
.site-navigation-basket a:focus {
  color: var(--basic-red);
}

.site-navigation-basket a:active {
  color: var(--grey);
}

.container {
  width: 1157px;
  vertical-align: top;
  margin: auto;
}

.feature {
  background-color: var(--basic-grey-light);
  width: 1157px;
  margin: auto;

}

.feature-list {
  background-color: var(--basic-grey-light);
  padding: 0px;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "slogan img"
    "stext img"
    "button img"
}

.feature-list-img {
  grid-area: img;

}

.feature-list-slogan {
  grid-area: slogan;

  margin: 0px;
  padding-top: 81px;
}

.feature-list-text {
  grid-area: stext;
  width: 416px;

}

.feature-button {
  background-color: var(--basic-red);
  width: 240px;
  height: 50px;
  grid-area: button;

  margin: 0px;
  padding: 0px;

}

.feature-list h3,
.container h1,
.slide-title h3 {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  font-weight: 500;
}

.product {
  margin-bottom: 80px;
  margin-top: 77px;
  ;
}

.product-list {
  list-style: none;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;

}

.product-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.hr-line {
  margin: 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid var(--basic-grey-light);
}


.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
}

.feature-button:hover {
  background-color: var(--basic-ruby);
}

.feature-button:active {
  background-color: var(--dark-red);
  color: var(--basic-brown);
}

/* index products button*/
.button-product-site {
  background-color: var(--basic-red);
  width: 160px;
  height: 50px;
}

.button-product-site:hover {
  background-color: var(--basic-ruby);
}

.button-product-site:active {
  background-color: var(--dark-red);
  color: var(--basic-brown);
}

.button-product-application {
  background-color: var(--basic-green);
  width: 160px;
  height: 50px;

}

.button-product-application:hover {
  background-color: var(--basic-emerald);
}

.button-product-application:active {
  background-color: var(--basic-dark-green);
  color: var(--basic-light-green);
}

.button-product-presentation {
  background-color: var(--basic-yellow);
  width: 160px;
  height: 50px;
}

.button-product-presentation:hover {
  background-color: var(--basic-mustard);
}

.button-product-presentation:active {
  background-color: var(--basic-dark-yellow);
  color: var(--basic-mustard);
}

.about {
  margin-top: 39px;
  margin-bottom: 73px;
  ;
  display: grid;
  grid-template-columns: auto auto;
}

.achievement-list {

  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
}


.priorities-about {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.priorities-list {
  list-style: none;
}

.priorities h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.achievement h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.achievement-list {
  list-style: none;
}

.achievement-item-numbers {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.priorities-item {
  padding-bottom: 10px;
}

.clients {
  margin-top: 46px;
  margin-bottom: 44px;
}

.clients-list {
  list-style: none;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;

  padding: 0px;
  margin: 0px;
}

.clients-items {
  opacity: 0.2;
}

.clients-items:hover {
  opacity: 1;
}

.clients-items:active {
  opacity: 0.1;
}

.contacts-phone {
  color: inherit;
}

/* FeedbackForm */

.feedback h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

input[type="text"],
[type="email"] {
  width: 100%;
  box-sizing: border-box;

}

.feedback-form input {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--basic-grey-middle);
}

.feedback-form textarea {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--basic-grey-middle);
  width: 100%;
  box-sizing: border-box;

}

.feedback-form input:hover {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  color: var(--basic-black);
}

.feedback-form textarea:hover {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--basic-black);
}

.feedback-name,
.feedback-email,
.feedback-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.feedback-button {
  background-color: var(--basic-red);
  width: 259px;
  height: 50px;
}

.feedback-button:hover {
  background-color: var(--basic-ruby);
}

.feedback-button:active {
  background-color: var(--dark-red);
  color: var(--basic-brown);
}


.main-footer {
  width: 100%;
  margin: 60px auto auto auto;
  padding: 0px;
}

.footer-contacts h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  width: 319px;
}

.footer-contacts {

  margin: 0px;
}

.contacts-button {
  background-color: var(--basic-red);
  Width: 219px;
  Height: 50px;
}

.footer-social {
  padding: 0px;
  margin: 0px;

}


.footer-social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 9px;
  justify-content: center;
  margin-top: 68px;
}

.social-footer-text {
  margin-left: 130px;
}

.social-button a{
  background-color: var(--basic-grey);
height: 79px;
width: 79px;
display: flex;
border-radius: 50%;
align-items: center;
justify-content: center;
}

.social-button a:hover{
  background-color: var(--basic-ruby);
}

.social-button a:active{
  background-color: #D7373B;
}





.footer-discount-offer {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

}

.feedback {
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

/*Catalog*/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 0px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-grey);
  border-radius: 5px;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-grey-middle);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}


.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-antracit);
  border: none;
  border-radius: 5px;
  background: var(--basic-grey);
}


.range-controls .scale {
  height: 2px;
  background: var(--basic-grey-middle);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 40px;

}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--basic-grey-dark);

}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -41px;
  width: 21px;
  height: 17px;
  background-image: url("/img/mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-catalog {

  display: grid;
  grid-template-columns: 1fr auto;
  margin: auto;
  list-style: none;


}

.choice {
  width: 260px;
  margin: 55px 141px 0px 0px;
}

.choice-form h4 {
  margin: 54px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-nav {
  display: grid;
  grid-template-columns: auto auto;

  margin-top: 0;
  padding: 0;
}

.sort-list {
  display: flex;

  justify-content: flex-end;

}

.sort-item {
  margin-right: 25px;
}

.choice-form h3,
.sort h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 48px 0;
}

.choice-form ul,
.sort ul {
  list-style: none;
  margin: 0;
  padding: 0 0;
}

.choice-grid-input:hover+label,
.choice-grid-input:focus+label {
  color: var(--basic-antracit);
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--basic-grey-dark);
  border-radius: 50%;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-grey-dark);
  border-radius: 50%;
}



.choice-cost input[type="range"] {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey-light);
  border: none;
  width: 260px;
  height: 80px;
}

.button-spetial {
  background-color: var(--basic-grey-light);
  color: var(--basic-black);
  width: 260px;
  height: 50px;
  border-radius: 3px;
  margin-top: 48px;
}

.button-spetial:hover {
  background-color: var(--basic-grey);
  color: var(--basic-black);
}

.button-spetial:active {
  background-color: #D5D5D5;
  color: var(--grey);

}

/* catalog sorting templates*/

.sort {
  margin: 55px 0 0;
}

.sort-item {
  text-transform: uppercase;
  color: var(--basic-grey-middle);
}

.sort-item:hover {
  text-transform: uppercase;
  color: var(--grey);
}

.sort-item-active,
.sort-item:active {
  text-transform: uppercase;
  color: var(--basic-antracit);
}

.sort-choise {
  margin-left: 18px;
}

/* catalog showcase */


.showcase-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.showcase-item {
  width: 358px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.showcase-item-img {
  border: 1px solid var(--basic-grey-light);
  border-radius: 10px;

}

.catalog-sort {
  width: 760px;
  display: flex;
  flex-direction: row;
  margin-bottom: 55px;
}


/* catalog showcase modal*/

.modal-showcase {
  color: var(--basic-black);
  background-color: var(--basic-grey-light);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  width: 360px;
  height: 231px;
  text-align: center;
}

.modal-showcase h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.modal-button {
  background-color: var(--basic-red);
  width: 200px;
  height: 50px;
  border-radius: 3px;
}

.modal-button:hover {
  background-color: var(--basic-ruby);
}

.modal-button:active {
  background-color: var(--dark-red);
  color: var(--basic-brown);
}


/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.pagination-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0px 8px 0px 0px;
  padding: 17px 20px 17px 20px;
  background-color: var(--basic-grey-light);
  border-radius: 3px;
}

.pagination-item:hover{
  background-color: var(--basic-grey-middle);
}

.pagination-item:active{
  background-color: var(--basic-dove);
  color: var(--basic-grey-dark);
  border-top: 3px solid var(--basic-grey-dark);
  outline-offset: -3px;
}


.pagination-item-letters {
  background-color: var(--basic-grey-light);
  padding: 17px 78px 17px 77px;
}

.pagination-current {
  background-color: var(--basic-white);
  outline: 3px solid var(--basic-grey-middle);
  outline-offset: -3px;

}

.modal-contact {
  position: absolute;
  width: 319px;
  height: 278px;
  padding: 49px 0px 0px 50px;
  top: 3060px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}



.modal h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0px;
}
