:root {
  --basic-white: #FFFFFF;
  --basic-grey-light: #EEEEEE;
  --basic-red: #FB565A;
  --dark-red: #D7373B;
  --basic-ruby: #E74246;
  --basic-green: #00CA74;
  --basic-light-green: #06C775;
  --basic-dark-green: #00AA62;
  --basic-emerald: #00BC6C;
  --basic-yellow: #EFC849;
  --basic-mustard: #EAB534;
  --basic-dark-yellow: #E5A722;
  --basic-grey: #E1E1E1;
  --grey: #a5a5a5;
  --basic-grey-middle: #D7DCDE;
  --basic-antracit: #283136;
  --basic-black: #000000;
  --basic-brown: #7E2222;
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-width: 1440px;
  margin: 0;
  padding: 0;
  color: var(--basic-antracit);
  background-color: var(--basic-white);
  font-size: 16px;
  line-height: 24px;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/

.page {
  height: 100%;
}



.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var--(--basic-black);
  background-color: var(--basic-grey-light);
  text-transform: uppercase;
  font-weight: 500;
  display: grid;
  grid-template-columns: 160px 1fr 115px;

  padding: 0px;
  width: 1160px;

}

.main-header {
  margin-bottom: 0px;
  background-color: var(--basic-grey-light);
}


.main-header-logo {

  padding-top: 49px;

}

.site-navigation-basket {

  padding: 0px;
  list-style: none;
  margin-top: 75px;
  display: grid;
  grid-template-columns: 15px min-content;
  column-gap: 15px;
}

.main-footer {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;

}

.main-header h1 {
  text-align: center;
}

.site-navigation {
  list-style: none;

  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  column-gap: 45px;
  padding-left: 0px;
  margin-top: 75px;
  margin-left: 202px;

}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-red);
}

.site-navigation a:active {
  color: var(--grey);
}

.site-navigation-basket a {
  color: var(--basic-black);
}

.site-navigation-basket a:hover,
.site-navigation-basket a:focus {
  color: var(--basic-red);
}

.site-navigation-basket a:active {
  color: var(--grey);
}

.container {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  width: 1157px;
  padding-right: 0px;
  padding-top: 0px;
  vertical-align: top;


}

.feature {
  background-color: var(--basic-grey-light);
  outline: 5px solid rgb(80, 70, 73);
  outline-offset: -5px;
  vertical-align: top;
  padding: 0px;
  margin-top: 0px;

}

.feature-list {
  outline: 5px solid rgb(255, 0, 85);
  outline-offset: -5px;
  padding: 0px;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: auto 760px;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    "slogan img"
    "stext img"
    "button img"
}

.feature-list-img {
  grid-area: img;
}


.feature-list-slogan {
  grid-area: slogan;
}

.feature-list-text {
  grid-area: stext;
  vertical-align: top;
}

.feature-button {
  background-color: var(--basic-red);
  width: 240px;
  height: 50px;
  grid-area: button;
}

.feature-list h3,
.container h1 {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  font-weight: 500;
}

.product-list {
  list-style: none;
 padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;

}

.product-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
}





.feature-button:hover {
  background-color: var(--basic-ruby);
}

.feature-button:active {
  background-color: var(--dark-red);
  color: var(--basic-brown);
}

/* index products button*/
.button-product-site {
  background-color: var(--basic-red);
  width: 160px;
  height: 50px;

}

.button-product-site:hover {
  background-color: var(--basic-ruby);
}

.button-product-site:active {
  background-color: var(--dark-red);
  color: var(--basic-brown);
}

.button-product-application {
  background-color: var(--basic-green);
  width: 160px;
  height: 50px;

}

.button-product-application:hover {
  background-color: var(--basic-emerald);
}

.button-product-application:active {
  background-color: var(--basic-dark-green);
  color: var(--basic-light-green);
}

.button-product-presentation {
  background-color: var(--basic-yellow);
  width: 160px;
  height: 50px;
}

.button-product-presentation:hover {
  background-color: var(--basic-mustard);
}

.button-product-presentation:active {
  background-color: var(--basic-dark-yellow);
  color: var(--basic-mustard);
}

.priorities-about {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.priorities-list {
  list-style: none;
}

.priorities h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.achievement h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.achievement-list {
  list-style: none;
}

.achievement-item-numbers {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.clients-list {
  list-style: none;

  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.contacts-phone {
  color: inherit;
}

/* FeedbackForm */

.feedback h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

input[type="text"],
[type="email"] {
  width: 100%;
  box-sizing: border-box;

}

.feedback-form input {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--basic-grey-middle);
}

.feedback-form textarea {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--basic-grey-middle);
  width: 100%;
  box-sizing: border-box;

}

.feedback-form input:hover {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  color: var(--basic-black);
}

.feedback-form textarea:hover {
  font: inherit;
  background-color: transparent;
  border: 1px solid var(--basic-black);
}

.feedback-name,
.feedback-email,
.feedback-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.feedback-button {
  background-color: var(--basic-red);
  width: 259px;
  height: 50px;

}

.footer-contacts h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts-button {
  background-color: var(--basic-red);
  Width: 219px;
  Height: 50px;
}

.footer-social-list {
  list-style: none;
  outline: 5px solid rgb(71, 106, 134);
  outline-offset: -5px;
display: grid;
grid-template-columns: 81px 81px 81px 1fr;
column-gap: 9px;
}

.social-button {
  background-image: url("img/social/social-bg.svg");

}

.footer-discount-offer {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.feedback {
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.choice-form h3,
.sort h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.choice-form ul,
.sort ul {
  list-style: none;
}

.choice-grid-input:hover+label,
.choice-grid-input:focus+label {
  color: var(--basic-antracit);
}

.choice-cost input[type="range"] {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey-light);
  border: none;
  width: 260px;
  height: 80px;
}

.button-spetial {
  background-color: var(--basic-grey-light);
  color: var(--basic-black);
  width: 260px;
  height: 50px;
  border-radius: 3px;
}

.button-spetial:hover {
  background-color: var(--basic-grey);
  color: var(--basic-black);
}

.button-spetial:active {
  background-color: #D5D5D5;
  color: var(--grey);

}

/* catalog sorting templates*/

.sort-item {
  text-transform: uppercase;
  color: var(--basic-grey-middle);
}

.sort-item:hover {
  text-transform: uppercase;
  color: var(--grey);
}

.sort-item-active,
.sort-item:active {
  text-transform: uppercase;
  color: var(--basic-antracit);
}

/* catalog showcase */
.showcase-list {
  list-style: none;
}

/* catalog showcase modal*/
.modal-showcase {
  color: var(--basic-black);
  background-color: var(--basic-grey-light);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  width: 360px;
  height: 231px;
  text-align: center;
}

.modal-showcase h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.modal-button {
  background-color: var(--basic-red);
  width: 200px;
  height: 50px;
  border-radius: 3px;
}

.modal-button:hover {
  background-color: var(--basic-ruby);
}

.modal-button:active {
  background-color: var(--dark-red);
  color: var(--basic-brown);
}


/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item {
  background-color: var(--basic-grey-light);
  color: var(--basic-black);
  padding: 10px;
  border-radius: 3px;
}
